.footer {
  position: relative;
  color: #c8480d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 00px;
  padding: 20px 10vw;
  padding-top: 0px;
  margin-top: 0px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/Res.jpg); 
  background-size: cover;
  opacity: 0.4; 
  z-index: -1; 
}


.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 00px;
}
.footer-content-left,
.footer-content-right,
.footer-content-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
  list-style: none;
  margin-bottom: 15px;
  position: relative;
  top: 80px;
  letter-spacing: 2px;
  font-weight: 600;
  color:rgb(255, 255, 255);
  font-size: 22px;
}
.footer-content-right h2,
.footer-content-center h2 {
  color: rgb(229, 112, 53);
  position: relative;
  top: 80px;
}
.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
}
.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: rgba(244, 237, 220);
  border: none;
}
.logo-img {
  width: 250px;
  height: 250px;
  position: relative;
  bottom: 30px;

}
.lorem {
  position: relative;
  bottom: 120px;
  width: 370px;
  left: 50px;
  letter-spacing: 3px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 500;
}
.footer-social-icons {
  position: relative;
  left: 600px;
  gap: 20px;
  display: flex;
}
.footer-copyright {
  color: white;
}

@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 10px;
    padding: 10px;
  }
  .footer-copyright {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    position: relative;
    top: -55px;
  }
  .lorem {
    font-size: 13px;
    position: relative;
    left: 0px;
    width: 270px;
    margin-top: 25px;
    top: -180px;
  }
  .logo-img {
    position: relative;
    top: -60px;
  }
  .footer {
    height: 500px;
  }
  .footer-social-icons {
    position: relative;
    left: 25px;
    top: -130px;
    gap: 20px;
    display: flex;
  }
  .footer-content-right h2,
  .footer-content-center h2 {
    color: white;
    position: relative;
    top: -80px;
    font-size: 19px;
  }
  .footer-content-left li,
  .footer-content-right li,
  .footer-content-center li {
    list-style: none;
    margin-bottom: 15px;
    position: relative;
    top: -80px;
    letter-spacing: 2px;
    font-size: 14px;
    color:rgb(237, 102, 102)
  }
}
