.my-orders {
  margin: 50px 0px;
  color: white;
}
.my-orders .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
 
}
.my-orders-order {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  padding: 20px 20px;
  color: #ffffff;
  border: 1px solid rgb(85, 84, 84);
  border-radius: 15px;
}
.my-orders-order img {
  width: 50px;
}
.my-orders-order p span {
  color: rgb(51, 255, 0);
  display: block;
  line-height: 22px;
  padding: 5px;
}
.my-orders-order p b {
  font-weight: 500;
  color: #54daff;
}
.my-orders-order button {
  border: none;
  padding: 15px;
  border-radius: 50px;
  background: url(/istoc2.jpg);
  cursor: pointer;
  color: #fffbfb;
}
.my-orders-order button:hover {
  background: rgb(126, 6, 6);
}

@media (max-width: 900px) {
  .my-orders-order {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    padding: 15px;
  }

  .my-orders-order img {
    width: 40px;
  }

  .my-orders-order button {
    padding: 10px;
    font-size: 10px;
  }
}
