.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/2147.jpg");
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 40px;
  left: 25vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: rgb(233, 21, 21);
  font-size: max(4.5vw, 22px);
  position:relative;
  bottom: 130px;
  letter-spacing: 2.5px;
  left: 35px;
}

.header-contents p {
  color: white;
  font-size: 18px;
  position:relative;
  bottom: 100px;
  line-height: 40px;
}

.header-contents button {
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  left: 6vw;
}

p {
  position: relative;
}

@media (max-width: 1050px) {
  .header {
    height: 38vw;
  }
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 45%;
  }
  .header-contents p {
    font-size: 7px;
    position: relative;
    top: 35px;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
  .header-contents h2 {
    font-size: 15px;
    position: relative;
    top: 30px;
  }
}
